.SNSViewer{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.SNSViewerOne{
    width: 60vw;
    min-width: 500px;
    padding: 20px 70px 20px 20px;
    height: auto;
    border: solid 1px rgb(0,0,0,0.2);
    border-radius: 15px;
    display: flex;
    flex: row;
    justify-content: center;
}



.SNSViewerOneUserContent{
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    width: 90%;
    text-align: left;
}


.SNSViewerOneUserContentText{
    width: 100%;
    word-break: break-all;
}
.SNSViewerOneUserContentImg img{
    width: 100%;

  
}



.asd{
  width: 100%;
  margin: 15px;
  padding-left: 20px;
  text-align: left;
  box-sizing: border-box;
}
.asd span{
    font-size: 1rem;
    
}

*{
    text-decoration: none;
    color: black;
}



.GNBIcon:hover {
    fill: rgb(247, 90, 105);
    transition: all 0.5s;

justify-content: center;

}